<!DOCTYPE html>
<html>
  <head>
  	<title>DLSU CommForum | {{title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Start of CSS Imports -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- End of CSS Imports -->
  </head>

  <body>
    {{>quickfront}}
    {{>adminbar}}
    <div class="container">
    	{{{body}}}
    </div>

    <!-- Start of JS Imports -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/959ec9fdad.js" crossorigin="anonymous"></script>
    <!-- End of JS Imports -->
    <p>&nbsp;</p>
    <footer class="footer mt-4">
      <div class="text-center container mt-4 mb-3">
        <span class="text-dark">&copy Copyright 2020.</span>
      </div>
    </footer>
  </body>
</html>