

/* ---------------------------------- Header ---------------------- */


.topmain {
  margin-left: 200px;
  
}

.image {
  width: 100%;
}

.dlsuimg {
  display:block;
  max-width: 100%;
  height: 400px;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(2, 255, 78);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image:hover .dlsuimg {
  opacity: 0.3;
}

.image:hover .overlay {
  opacity: 1;
}

.image:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 40px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/* ------------------------------- SIDE MENU --------------------- */

.logo {
  height: 20%;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.sideheader {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  
}

.sidemenu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5cc957;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidemenu a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidemenu a:hover {
  color: white;
  font-style: oblique;
  
}

.search {
  padding-top: 10px;
  padding-left: 32px;
}

#search {
  padding: 15px;
  border-radius: 15px;
  height: 20px;
  width: 50px;
}

#search:focus {
  width: 50%;
}
.logoutbtn {
  padding-top: 100px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 20px;
}

#logoutbtn {
  width: 200px;
  font-size: 15px;
  border:none;
  background: none;
}

#logoutbtn:hover {
  color: red;
}

@media screen and (max-height: 450px) {
  .sidemenu {padding-top: 15px;}
  .sidemenu a {font-size: 18px;}
}

/*     -------------   RIGHT NAVI -------------- */
.rightnavi {
  float:right;
  padding-top:15px;
  bottom:0;
  left:0;
  right:0;
  width: 23%;
}

.rightheader {
  display:block;
  border: 1px solid black;
  background-color: #dcf5e3;
  box-shadow: 4px 4px #647350;
  height: 50px;
  text-align: center;
}

.prof1 {
  margin-top: 15px;
  display:block;
  border: 1px solid black;
  background-color: #dcf5e3;
  box-shadow: 4px 4px #647350;
  height: 300px;
}

.prof1 p {
  text-align: center;
}

.profpic {
  padding-left: 30px;
  padding-top: 30px;
  height: 150px;
  width: auto;
}

.rightnavi button {
  border: none;
  text-align:center;
  position: absolute;
  height: 20px;
  width: 80px;
  background-color: #1be33c;
  
}

.seeprofbtn {
  padding-left: 70px;
  padding-bottom: 10px;
}


/*          -------------------------      MAIN     -------------------     */

.main{
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 700px;

}
/*    ---------------  WRITE A POST  -------------- */

.usercontainer {
  margin: auto;
  border:1px solid black;
  width: 100%;
  height: 100px;
  box-shadow: 5px 10px #959e95;
  background-color: #dcf5e3;
}

.avatar {
  height: 55px;
  margin: 20px;
  float: left;
}

.user {
  display: inline-block;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  margin-top: 35px;
}

.postcontainer {
  border: 1px solid black;
  background-color: #dcf5e3;
  width: 100%;
  box-shadow: 5px 10px #959e95;
  height: 280px;
}

.postcontainer .newpost {
  padding: 5px 5px;
}

.postcontainer a{
  background: linear-gradient(to right, #00703c, #00552e) no-repeat 0 0 / cover;
  padding: 5px;
  color: white;
}

.postcontainer textarea{
  resize: none;
}

.postcontainer .newpost #newpost_body {
  margin-bottom: 10px;
}

/*    ------------------  SAMPLE POST   ------------------ */


.samplepost_conatiner {
  background-color: #dcf5e3;
  width: 100%;
  height: 800px;
}

.mainpost {
  background-color: #dcf5e3;
  height:150px;
  width: 100%;
  border: 1px solid black;
  box-shadow: 5px 10px #959e95; 
}

.titlepost {
  border-bottom:0.3px solid #6c7062;
  margin-top: 20px;
}
.bodypost{
  padding-left: 20px;
}

.commentcontainer {
  border: 1px solid black;
  background-color: #dcf5e3;
  box-shadow: 5px 10px #959e95;
  height: 160px;
  width: 100%;
  padding-top: 10px;
}

.commentcontainer #commentform #new_comment {
  margin-top: 15px;
  margin-left: 24px;
  margin-bottom: 10px;
}

.commentcontainer a{
  background: linear-gradient(to right, #00703c, #00552e) no-repeat 0 0 / cover;
  padding: 5px;
  color: white;
  margin-left: 24px;
}

/* ---------------- Add Comment -------------- */

.addcomment {
  border: 0.5px solid black;
  background-color: #dcf5e3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  padding-top: 10px;
}

.addcomment .avatar {
  display:inline-block;
  height: 40px;
  width: 40px;
  padding-left: 15px; 
  background-image: url("media/avatar.png");

}

.addcomment .usernme {
  display : inline-block;
  margin-left: 15px;
  text-align: justify;
  font-size: 15px;
}

.addcomment #comment[type="text"] {
  display:block;
  margin-left: 15px;
  text-align: justify;
  font-size: 15px;
  resize: none;
}



