{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">We are a community of scholars imbued with Christian values who have the passion to contribute to national development and social well-being. We are committed to creating and sharing knowledge in Computer Science and ICT as the premiere educational institution in Southeast Asia, recognized globally as the Philippine benchmark for quality education and research.</p>
    <p class="text-justify">We nurture the academic community in a culture that develops the total person. We hone leaders in technical, professional and entrepreneurial domains and train them to adapt to fast-changing technologies and environments. We take the lead in the innovation of new technologies and their applications through cutting-edge research and state-of-the-art learning infrastructure. We pursue opportunities for immersion, consulting, and technology commercialization, working closely with our partners in industry, government, and academe.</p>
    <p class="text-justify">We inspire each one to fervently work for the common good, and help those in need, especially the poor and the marginalized.</p>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611 local 300 (trunk line)<br>
       Tel. Nos.: (632) 536-0276 (direct line)<br>
       Telefax No.: (632) 536-0278<br>
       Email: deanccs@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About CCS</h3>
        <img src="/assets/ccs.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="College of Computer Studies">
        <p class="text-justify">
        The College of Computer Studies (CCS) is an educational institution committed to its three-pronged vision of continually sharing knowledge and expertise through teaching, engaging in Computer Science research and Information Technology product development, and rendering service to communities in need.</p>
        <p class="text-justify">CCS upholds the tradition of excellence embodied by the Lasallian education. Through its intensive undergraduate programs that emphasize actual implementation of theories and of project-oriented and real world environment, the College develops experts in computer science, computer engineering, and information technology, equipping its students to become tomorrow’s leaders in industry, academe, and government.</p>
      </div>
    </div>
  </div>

</div>