{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">The School of Economics is a community of distinguished educators, research scholars, and students imbued with Lasallian values, committed to the development needs of the country and the region, and driven by a lifelong desire to make a significant contribution to economic science.</p>
    <p class="text-justify">Guided by this vision, the School will endeavor to achieve international recognition and become and important participant in economic inquiry in East Asia.</p>
    <p class="text-justify">Its core resource is a pool of scholars who will expand the boundaries of theoretical and empirical economic knowledge through excellence in instruction and research.</p>
    <p class="text-justify">Its mandate is to nurture graduates with Lasallian values who have a mastery of the state-of-the-art in economics, strong analytical and expository skills, and a passion to improve the human condition.</p>
    <p class="text-justify">The research it produces will initiate discussions on key economic and social issues, contribute to intelligent policy debate, and spur the development of innovative curricular programs.</p>
    <p class="text-justify">By providing expert advice to government, the business sector, civil society, and international development agencies, it will make significant contributions to the building of a prosperous and equitable society.</p>
    <h3>The Icon</h3>
    <p class="text-justify">The icon for the School of Economics is a stylized rendition of a sphere with a sliced part. This symbol represents both the macro and micro levels of economics. The slice, a portion of the whole, stands for what economics is all about–a study of labor, land, and investments; of money, income, and production; and of taxes and government expenditures of a particular society.</p>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611 loc 520 (trunk line)<br>
       (632) 524-0451 (telefax)<br>
       Email: deancos@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About SOE</h3>
        <img src="/assets/soe.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="School of Economics">
        <p class="text-justify">
        SOE represents more than 50 years of leadership in economics education, research, and public service. From its beginnings as a department within the College of Liberal Arts in the 1961 (with Dr Bernardo Villegas as its first Chairman) , to its transfer to the College of Business and Economics in 1982 and eventual incorporation as a School in 2010, it has stood for innovative and committed teaching, rigorous research, and steadfast engagement with the public and private sector. </p>
        <p class="text-justify">In 2008, it became the first economics program in the country to be assessed by the ASEAN Universities Network.</p>
        <p class="text-justify">SOE pioneered many practices now considered standard within the profession: the emphasis on mathematical and econometric training for undergraduates, exposure to evidence-based research and the publication of new knowledge,  development of a scientific discourse in Filipino, problem-based learning, and investment in new economic methodology.</p>
        <p class="text-justify">Graduates and faculty members of SOE have been recipients of renowned national and international awards and recognition. SOE have been an active participant in economic inquiry and knowledge generation: faculty members actively participate in local and international research gatherings and collaboration, and also appeared in various platforms of media.</p>
      </div>
    </div>
  </div>

</div>