<!-- Modals -->
<!--  Security Ques Modal -->
<div id="securityModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 font-weight-bold">Security Questions</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Answer the security question to complete the registration</h5>
        <div class="form-group">
          <select id="chooseQuestion" class="form-control" required> 
          <option hidden disabled selected value>Choose...</option>
          <option>What were the last four digits of your telephone number?</option>
          <option>What is the name of your first pet?</option>
          <option>What is your mother's maiden name?</option>
        </select>
        <label>Choose one security question</label>
        </div>
        <div class="form-group">
          <textarea rows ="1" id="securityAnswer" class="form-control" required></textarea>
          <label data-error="wrong" data-success="right">Answer</label>
        </div>
        <p id="msg" class="text-danger text-center"></p>
      </div>
      <div class="modal-footer">
        <button id="submitSecBtn" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
    <!-- Modal content-->
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 font-weight-bold">Forgot Password</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <div class="text-center"> 
            <h5 class="font-weight-bold">Fill out the Following Information</h5>
          </div>
        </div>
        <input id="idNum" name = "idNum" class="form-control validate" type ="number" required>
        <label class = "text-center" data-error="wrong" data-success="right">ID Number</label>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="forgotSubmitBtn" class="btn btn-primary btn-sm text-white">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Answer Verification -->
<div id="verifyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 font-weight-bold">Verification</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
			     	<label>Security Question</label>
			      <input type="text" id="secQuestion" class="form-control" readonly>
			  </div>
        <div class="form-group">
          <label data-error="wrong" data-success="right">Answer</label>
          <textarea rows ="1" id="securityAns" class="form-control" required></textarea>
        </div>
        <p id="vmsg"></p>
      </div>
      <div class="modal-footer">
        <button id="submitVerifBtn" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- Passwords Match Modal -->
<div class="modal fade" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header text-center">
            <h3 class="modal-title w-100 font-weight-bold">New Password</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
         </div>
         <div class="modal-body mx-3">
            <div class="md-form mb-4">
               <div class="text-center">
                  <h5 class="font-weight-bold">Enter new password</h5>
               </div>
            </div>
            <input id="pass1" name = "pass1" class="form-control validate" type ="password" required>
            <label class = "text-center" data-error="wrong" data-success="right">Password</label>
            <input id="pass2" name = "pass2" class="form-control validate" type ="password" required>
         <label class = "text-center" data-error="wrong" data-success="right">Re-type password</label>
         <p id="nmsg"></p>
         </div>
         <div class="modal-footer d-flex justify-content-center">
            <button id="newPasswordBtn" class="btn btn-primary btn-sm text-white">Submit</button>
         </div>
      </div>
   </div>
</div>


<!-- End of Modals -->


<img src="/assets/logo_box_green.jpg" class="form-logo" draggable="false" alt="DLSU Community Forum">
<div class="authContainer" id="authContainer">
    <div class="form-container sign-up-container">
        <form id="signUpForm" method="POST">
            <h1>Create Account</h1>
            <span>Use your ID number for registration</span>
            <input type="text" id="regName" name="regName" placeholder="Name"/>
            <input type="text" id="regId" name="regId" pattern="[0-9]{8}" title="Eight digit student ID" placeholder="ID Number"/>
            <input type="password" id="regPass1" name="regPass1" placeholder="Password"/>
            <input type="password" id="regPass2" name="regPass2" placeholder="Re-type Password"/>
            <button id="signUpBtn" class="mt-1 mb-2" type="button">Sign Up</button>
            <p id="msg1" class="text-danger text-center"></p>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="auth" method="POST">
            <h1>Sign In</h1>
            <span>Use your registered account</span>
            <input type="text" id="siId" name="siId" pattern="[0-9]{8}" title="Eight digit student ID" placeholder="ID Number"/>
            <input type="password" id="siPass" name="siPass" placeholder="Password" />
            <a data-toggle="modal" data-target='#forgotModal'>Forgot your password?</a>
            <button id="signInBtn" class="mt-1 mb-2" type="button">Sign In</button>
            <p id="msg2" class="text-danger text-center"></p>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To access our community forum please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Archer!</h1>
                <p>Enter your personal info to gain access to the amazing features of our community forum</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>