{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Brother Andrew Gonzales</h3>
    <h4 class="lead">A Visionary and Educator</h4>
    <p class="text-justify">In the early years since its founding in 1911, De La Salle was primarily a teaching college that focused on commerce, liberal arts, and engineering.  By the mid-1970s, the curriculum changed when Br. Andrew Gonzalez, at the helm of leadership as president, launched the mission of transforming the small college into an educational and research institution concerned not only in the “dissemination of past and contemporary knowledge but likewise the production of new knowledge.”  Thus, the research thrust of the university was begun with units and area-specific research centers and institutes working together within a system while retaining Lasallian values central in its programs.  In the course of his leadership, Br. Andrew replaced the traditional semestral system with the year-round trimestral calendar in 1981-1982, doubled student enrollment, and attracted top-notch faculty. He implemented the innovative Transformative Learning Framework in the curriculum, a learner-centered approach to education that supports a view to learning by cognitive development theorists, Piaget and Vygotsky.  Embedded in these programs are mechanisms responsive to the complex social and economic needs of Philippine society, such as science education, teaching, and training.</p>
    <h3>Vision Mission</h3>
    <p class="text-justify">A leading learner-centered teaching and research institution in the Asia-Pacific, developing 21st century Lasallian Education professionals in the service of the Church, the nation, the region, and the world for a sustainable Earth.</p>
    <p class="text-justify">De La Salle College, which was established in 1911, was authorized to confer the degree of Master of Science in Education in 1930. Undergraduate programs in Education were started in 1959.</p>
    <p class="text-justify">The Graduate School of Education, Arts and Science (GSEAS) was established in 1963 to respond to the need for updating secondary education in the country, through teacher training and faculty development. In 1971, GSEAS opened the Master of Science in Guidance and Counseling program, specifically designed for full-time Asian students of different ecumenical backgrounds. Thereafter, GSEAS began to focus on tertiary education, and in 1976 it implemented a program for science teachers in the collegiate level.</p>
    <p class="text-justify">In 1980, GSEAS offered the first PhD program in Counseling Psychology in the country, and a PhD program in Science Education. By 1982, it also implemented a doctoral program in Educational Management, and later a Doctor of Arts in Language and Literature.</p>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611 loc 121 (trunk line)<br>
       Telefax No.: (632) 526-5915 (telefax)<br>
       Email: deanced@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About CED</h3>
        <img src="/assets/ced.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="College of Education">
        <p class="text-justify">
        Before high-rise condominiums became a common sight along the north side of De La Salle University (DLSU) campus on Taft Avenue, the Br. Andrew Gonzalez Hall was a prominent structure that caught anyone’s attention.  Embellished with huge squares of green glass, the Br. Andrew Gonzalez Hall annually welcomes freshmen into Lasallian academic life.  This 21-storey structure is reputed to be the tallest higher education building in all Philippines.  It is a fitting commemoration to Br. Andrew Gonzalez, FSC whose distinctive leadership as DLSU president that spanned over two decades led to ground-breaking developments in Lasallian education in the Philippines.</p>
        <p class="text-justify">The Corinthian column is an architectural element in the University that represents a hundred years of education.  On its façade, the pillars at the Br. Andrew Gonzalez Hall are a metaphor for education that nurtures and inspires young men and women who pass through its halls.  The Br. Andrew Gonzalez Hall is also home to the College of Education, distinguished to have been renamed Br. Andrew Gonzalez FSC College of Education (BAGCED) in honor of Br. Andrew Gonzalez, FSC.  On 31 May 2013, amidst the revelry at the closing of DLSU’s Centennial Jubilee, a small community of Br. Andrew’s family, colleagues, friends, faculty and alumni gathered at the lobby of the Br. Andrew Gonzalez Hall to commemorate the renaming of the college to an illustrious alumnus, a skillful, passionate and charismatic leader, and a gentle mentor whose vision and hard work make himself a true icon of education.</p>
      </div>
    </div>
  </div>

</div>