{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">The College of Liberal Arts aims to be a dynamic community of faith-inspired learners engaged in creative endeavours and scientific scholarship for the service of humanity and society, especially the marginalized. The college develops their students into ethically committed leaders and knowledge producers, grounded in the humanities and social sciences, towards social transformation in the global community.</p>
    <h3>Core Values</h3>
    <ul>
      <li class="font-weight-bold"><kbd class="bg-gradient">Openness</kbd></li>
      <p class="ml-4 text-justify">CLA is committed to enriching the learning experience by promoting an environment informed by faith and respect for pluralism and diversity.</p>
      <li class="font-weight-bold"><kbd class="bg-gradient">Excellence</kbd></li>
      <p class="ml-4 text-justify">CLA is committed to developing competent individuals who uphold the highest standards of professionalism and integrity.</p>
      <li class="font-weight-bold"><kbd class="bg-gradient">Solidarity</kbd></li>
      <p class="ml-4 text-justify">CLA is committed to promoting community through human relationships rooted in equality, unity in diversity, and interdependence.</p>
    </ul>
    <h3>Goals</h3>
    <ul class="text-justify">
      <li>Uphold teaching and research excellence in humanities and social sciences.</li>
      <li>Enrich students’ understanding of the interdisciplinary nature of knowledge.</li>
      <li>Produce graduates with an educated mind, knowledgeable in theory and practice, who will contribute productively and ethically in their chosen fields.</li>
      <li>Strengthen valuable linkages with local and international organizations and institutions.</li>
      <li>Foster a community actively responsive to local and global issues.</li>
    </ul>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611<br>
    (632) 302-3899 (direct line)<br>
    E-mail: deancla@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About CLA</h3>
        <img src="/assets/cla.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="College of Liberal Arts">
        <p class="text-justify">The College of Liberal Arts, originally the College of Arts and Sciences, was founded in 1918 and conferred its first Bachelor of Arts degree upon graduates in 1920. Phased out in 1931 because of lack of personnel, the College reopened in 1953 and awarded its first post-war degrees four years later. Since that time, expansion and improvements have made it the dynamic college that it is today. In 1982, the College of Arts and Sciences was divided into two —the College of Liberal Arts and the College of Science.</p>
        <p class="text-justify">The College of Liberal Arts provides the student with a liberal education background in the humanities and social sciences. It also develops the student’s competence in any of the specific academic fields of study he or she chooses to pursue. The sense of national identity and Christian orientation which the College instills is the essence of a Lasallian education. A Lasallian liberal arts education distinctly places priority on the integrative development and cultivation of the human potential.</p>
        <p class="text-justify">The Departments of Literature and English are both recognized by the Commission on Higher Education as Centers of Excellence.</p>
      </div>
    </div>
  </div>

</div>