{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">The vision is for the De La Salle University to be the premiere business school of the country. Attributes of the premiere business school:</p>
    <ul class="text-justify">
      <li><kbd class="bg-gradient">GRADUATES</kbd> of the school will be Lasallian professionals who are technically competent, humanistic, socially responsible and sustainability- oriented business managers, and leaders as befits products of a Lasallian and Catholic institution.</li>
      <li><kbd class="bg-gradient">RESEARCH</kbd> of the school will positively influence management practice and public policy in business & management. These products will contribute to the development of the country. Because of the products and impacts of the business school, it will be the:</li>
      <li><kbd class="bg-gradient">SCHOOL OF CHOICE for STUDENTS</kbd> who aspire to become sought-after, well rounded professional, business managers and, effective entrepreneurs.</li>
      <li><kbd class="bg-gradient">SCHOOL OF CHOICE for FACULTY</kbd> who want to contribute to the country’s development by helping form the next generation of business and, produce leading edge business knowledge relevant to today’s national and global challenges.</li>
      <li><kbd class="bg-gradient">SCHOOL OF CHOICE for PARENTS</kbd> who believe in the quality of Lasallian Education for their children.</li>
      <li><kbd class="bg-gradient">SCHOOL OF CHOICE for EMPLOYERS from BUSINESS AND INDUSTRY</kbd> who need well-equipped business managers who can manage company growth while meeting the growing obligations of business in today’s world.</li>
    </ul>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632)524-46-11 local 130 (trunk line)<br>
    Telefax No.: (632)536-02-61 (direct line)<br>
    Email: dean.cob@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About COB</h3>
        <img src="/assets/cob.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="College of Business">
        <p class="text-justify">
        The College of Business, also known as Ramon V. del Rosario College of Business (RVR-COB) and formerly De La Salle-Professional Schools, Inc., is one of the eight undergraduate and graduate schools of De La Salle University. It was established in 1920 as the College of Commerce when the University began offering a two-year commercial course.</p>
        <p class="text-justify">Known as the College of Business and Economics by 1957, it was home to two academic departments, which had been recognized by the Commission on Higher Education as Centers of Development, Business Management and Economics. In AY 2010-11, it was formally separated into two entities: The College of Business and the School of Economics.</p>
        <p class="text-justify">On July 25, 2011, the College was inaugurated as Ramon V. del Rosario College of Business to honor the respected alumnus and visionary businessman. Ramon V. del Rosario built the first Filipino-owned oil refinery, Filoil Refinery Corporation, and challenged foreign oil companies. Afterwards, he also served as ambassador to Canada, Germany, and Japan. During this time, he brought professors from the Harvard Business School into the country to teach management courses. This initiative eventually led to the creation of Asian Institute of Management, an institution that meets the global accreditation standards of the US-based Association to Advance Collegiate Schools of Business.</p>
        <p class="text-justify">The RVR-COB is a PRME Champion. The Principles of Responsible Management Education (PRME) is an initiative of the United Nations Global Compact. The College is one of only 26 universities around the world that was invited to be a PRME Champion.</p>
        <p class="text-justify">The DSLU’s main vision is to be the premiere business school of the country, which promises to produce the finest in graduates and research.</p>
      </div>
    </div>
  </div>

</div>