{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">To produce technically competent and innovative service-driven engineering leaders with integrity. GCOE will be an internationally renowned institution highly regarded by both industry and government for generating knowledge towards sustainability and improving quality of life.</p>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611 loc 200 (trunk line)<br>
    Telefax No.: (632) 524-0563<br>
    Email: deancoe@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About GCOE</h3>
        <img src="/assets/coe.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="Gokongwei College of Engineering">
        <p class="text-justify">
        The Gokongwei College of Engineering (GCOE) is a model institution of research, as it supports research projects that respond to the needs of both industrialized and the rural regions in the country. It has earned recognition from reputable organizations for research conducted by faculty and students which have significantly contributed to national development.</p>
        <p class="text-justify">The Gokongwei College of Engineering is known for its relevant and progressive curriculum; a faculty roster of top caliber academics and industry practitioners; and modern laboratories and state-of-the-art equipment in the formation of highly competent, morally-grounded, and service-oriented engineering professionals.</p>
        <p class="text-justify">Among the biggest achievements of the College was earning the highest accreditation given by the Commission on Higher Education (CHED), with three of its programs as Centers of Excellence. Moreover, five of its programs were also given Level IV accreditation by the Philippine Accrediting Association of Schools, Colleges and Universities (PAASCU).</p>
        <p class="text-justify">By and large, De La Salle University (DLSU) is the only private Philippine university selected by the ASEAN University Network to be part of the Southeast Asia Engineering Education Network (SEED-Net). In partnership with other leading universities from the region, DLSU takes a major role in human resource development not only in the field of engineering but also in information technology.</p>
      </div>
    </div>
  </div>

</div>