{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Vision Mission</h3>
    <p class="text-justify">The College of Science is committed to the development of a community of responsible scientists attuned towards a sustainable Earth, harnessing their knowledge, skills, values and expertise, being a resource for the Nation and Church especially in the service of the poor and the marginalized.</p>
    <p class="text-justify">The thrust of the College of Science is to develop an academic community of whole persons who are intellectually, socially, spiritually responsive to the needs of nation and of the Filipinos, using the instrument of science.  These values are manifested in the different science disciplines through its various programs and services.  The role of Science and Technology, is emphasized in the curricular offerings with research and development as a necessary input.</p>
    <h3>Philosophy</h3>
    <p class="text-justify">Advances in Science and Technology are a necessary drive and support toward economic development. A sustainable progress thus requires a pool of competent scientists who are excellent researchers and educators, and are truly practicing Christians committed to value of respect for humanity.</p>
    <h3>Goals</h3>
    <ul class="text-justify">
      <li><kbd class="bg-gradient">Enhance</kbd> capability to offer world class science and mathematics instruction and research through:</li>
      <ul>
        <li>a significant increase in the number of PhD Degree holders by hiring and by supporting the professional development of faculty members,</li>
        <li>the acquisition of more advanced equipment/instruments,</li>
        <li>the formation of research teams/ groups that will optimize research capability and increase research outputs/publications,</li>
        <li>the training of junior faculty and graduate/undergraduate students as research assistants, and</li>
        <li>the fostering of linkages with academic and research institutions abroad.</li>
      </ul>
      <li><kbd class="bg-gradient">Increase</kbd> the pool of skilled human resources for scientific, industrial, business, and environmental establishments by offering more courses that are responsive to the current needs of Philippine society and the Asia-Pacific Region.</li>
      <li><kbd class="bg-gradient">Hire more faculty members</kbd> who are experts in the identified fields of specialization; and offering more training programs which emphasize skills development.</li>
    </ul>
    <h3>Contact us</h3>
    <p>Tel. Nos.: (632) 524-4611 loc 520 (trunk line)<br>
       (632) 524-0451 (telefax)<br>
       Email: deancos@dlsu.edu.ph</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 shadow-lg">
      <div class="card-body text-center">
        <h3 class="text-center mb-4">About COS</h3>
        <img src="/assets/cos.png" width="200"class="rounded-10 d-inline-block align-top mb-4" alt="College of Science">
        <p class="text-justify">
        Science is a journey. It is never confined to the pages of a textbook or to the parameters of a theory. Science is also an adventure, a constant unraveling of mysteries through relentless pursuit of knowledge. And because science is such, the College develops in its students the skills to question, experiment, analyze, and find solutions. It teaches them how to conduct research. It equips young scientific minds with the best possible tools and environment, along with outstanding academic mentors, in order to aid them in their quest for answers.</p>
        <p class="text-justify">Students who are interested in enrolling in the degree programs of this college must be capable of analytical and logical thinking, must be creative in problem-solving, and must have a good grasp of mathematics. They must also be able to express themselves effectively in both oral and written communication.</p>
      </div>
    </div>
  </div>

</div>