{{>jumbotron}}

<div class="row">
	<div class="col-sm-12 col-md-3">
        <div class="card">
          	<div class="card-body text-center">
            	<img src="/assets/admin/colleges.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Colleges">
            	<h5 class="card-title">Colleges</h5>
           		<p class="card-text">There are {{collegeCount}} recent data for Colleges</p>
           		<a href="/cf-admin/colleges" class="card-link">Manage Colleges</a>
       		</div>
       	</div>
   	</div>
   	<div class="col-sm-12 col-md-3">
        <div class="card">
          	<div class="card-body text-center">
            	<img src="/assets/admin/reviews.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Reviews">
            	<h5 class="card-title">Reviews</h5>
           		<p class="card-text">There are {{reviewCount}} recent data for Reviews</p>
           		<a href="/cf-admin/reviews" class="card-link">Manage Reviews</a>
       		</div>
       	</div>
   	</div>
   	<div class="col-sm-12 col-md-3">
        <div class="card">
          	<div class="card-body text-center">
            	<img src="/assets/admin/professors.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Professors">
            	<h5 class="card-title">Professors</h5>
           		<p class="card-text">There are {{professorCount}} recent data for Professors</p>
           		<a href="/cf-admin/professors" class="card-link">Manage Professors</a>
       		</div>
       	</div>
   	</div>
   	<div class="col-sm-12 col-md-3">
        <div class="card">
          	<div class="card-body text-center">
            	<img src="/assets/admin/users.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Users">
            	<h5 class="card-title">Users</h5>
           		<p class="card-text">There are {{userCount}} recent data for Users</p>
           		<a href="/cf-admin/users" class="card-link">Manage Users</a>
       		</div>
       	</div>
   	</div>
</div>