{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>User Information</h3>
    <table class="table table-hover table-light mb-5">
    <thead class="thead-green">
      <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">ID Number</th>
        <th scope="col">No. of Reviews</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
        <tr class="text-center">
          <td>{{this.studentName}}</td>
          <td>{{this.studentId}}</td>
          <td>{{this.count}}</td>
          <td><a class="btn btn-primary btn-sm text-white" href="/reviews/{{this._id}}">Go to Profile</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>

  <div class="col-sm-12 col-md-4">
    <h3 class="text-center" id="addCollege">Add User</h3>
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-center">
          <img src="/assets/logo_box_green.jpg" width="100" class="rounded-10 d-inline-block align-top mt-2 mb-3" alt="DLSU Community Forum">
        </div>

        <form>
          <div class="form-group row">
            <label for="studentName" class="col-sm-5 col-form-label">Full Name</label>
            <input type="text" id="studentName" name="studentName" class="form-control col-sm-6" placeholder="Juan Dela Cruz" required></input>
          </div>
          <div class="form-group row">
            <label for="studentId" class="col-sm-5 col-form-label">ID Number</label>
            <input type="number" id="studentId" name="studentId" pattern="[0-9]{8}" title="Eight digit student ID" class="form-control col-sm-6" placeholder="11712345" required></input>
          </div>
          <div class="form-group row">
            <label for="studentPass1" class="col-sm-5 col-form-label">Password</label>
            <input type="password" id="studentPass1" name="studentPass1" class="form-control col-sm-6" placeholder="p@ssw0rd!" required></input>
          </div>
          <div class="form-group row">
            <label for="studentPass2" class="col-sm-5 col-form-label">Confirm Password</label>
            <input type="password" id="studentPass2" name="password2" class="form-control col-sm-6 mt-2" placeholder="p@ssw0rd!" required></input>
          </div>
          <div class="form-group row">
            <label for="studentAdmin" class="col-sm-5 col-form-label">Admin?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="studentAdmin" id="adminYes" value="true">
              <label class="form-check-label" for="adminYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="studentAdmin" id="adminNo" value="false">
              <label class="form-check-label" for="adminNo">No</label>
            </div>
          </div>
          <div class="text-center">
            <button type="button" id="addUser" name="addUser" class="btn btn-primary mt-0 mb-2">Add User</button>
          </div>
        </form>
        <p id="msg" class="text-danger mb-0 mt-2 text-center"></p>
      </div>
    </div>
  </div>
</div>
