{{>jumbotron}}
<!-- MODALS/POP UPS -->
<!-- DELETE USER 2 -->
<div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <input id = "modalDeleteRef" hidden>
        <div class="survey-head text-center"> 
              <p><span class="font-weight-bold">Warning:</span> Deleting a user means the user's information will be deleted, <span class="font-weight-bold">and all user's posts and comments will also be deleted</span>
              </p>
        </div>
      </div>

      <div class="modal-body mx-3">
        <input id="modalDeleteUserRef" hidden>
        <h5 class = "text-center"><span class="font-weight-bold">Are you sure you want to delete this account?</span></h5>
    </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="deleteUserBtn" class="btn btn-primary btn-sm text-white">Delete User</button>
      </div>
    </div>
  </div>
</div>

<!-- BAN USER 2 -->

<div class="modal fade" id="modalbanuser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ban User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="survey-head text-center"> 
          <input id="modalBanRef" hidden>
              <p><span class="font-weight-bold">Warning:</span> Banning a user means the user cannot post a review and comment on a review, <span class="font-weight-bold">yet the user can still have access to the website</span>
              </p>
        </div>
      </div>
      <div class="modal-body mx-3">
        <h5 class = "text-center"><span class="font-weight-bold">Are you sure you want to ban this user?</span></h5>
      </div>
      <input id="modalBanUser" name="modalBanUser" type="hidden">
      <div class="modal-footer d-flex justify-content-center">
        <button id="banUserBtn" class="btn btn-primary btn-sm text-white">Ban User</button>
      </div>
    </div>
  </div>
</div>

<!-- END OF MODALS -->

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>User Information</h3>
    <table class="table table-hover table-light mb-5">
    <thead class="thead-green">
      <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">No. of Reviews</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
        <tr class="text-center">
          <td>{{this.studentName}}</td>
          <td>{{this.count}}</td>
          <td>
            <!-- CALLING MODALS -->
            <button class="btn btn-primary btn-sm text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
		          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" class="text-center" data-toggle="modal" data-target="#modalbanuser"
                data-funct= "banUser"
                data-id= "{{this._id}}"
                >Ban User</button>
                <button class="dropdown-item" class="text-center" data-toggle="modal" data-target="#modalDeleteUser"
                data-funct= "deleteUser"
                data-id= "{{this._id}}"
                >Delete User</button>
              </div>
            <!-- -->
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>

  <!-- Add User -->

  <div class="col-sm-12 col-md-4">
    <h3 class="text-center" id="addCollege">Add User</h3>
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-center">
          <img src="/assets/logo_box_green.jpg" width="100" class="rounded-10 d-inline-block align-top mt-2 mb-3" alt="DLSU Community Forum">
        </div>

        <form>
          <div class="form-group row">
            <label for="studentName" class="col-sm-5 col-form-label">Full Name</label>
            <input type="text" id="studentName" name="studentName" class="form-control col-sm-6" placeholder="Juan Dela Cruz" required></input>
          </div>
          <div class="form-group row">
            <label for="studentId" class="col-sm-5 col-form-label">ID Number</label>
            <input type="number" id="studentId" name="studentId" pattern="[0-9]{8}" title="Eight digit student ID" class="form-control col-sm-6" placeholder="11712345" required></input>
          </div>
          <div class="form-group row">
            <label for="studentPass1" class="col-sm-5 col-form-label">Password</label>
            <input type="password" id="studentPass1" name="studentPass1" class="form-control col-sm-6" placeholder="p@ssw0rd!" required></input>
          </div>
          <div class="form-group row">
            <label for="studentPass2" class="col-sm-5 col-form-label">Confirm Password</label>
            <input type="password" id="studentPass2" name="password2" class="form-control col-sm-6 mt-2" placeholder="p@ssw0rd!" required></input>
          </div>
          <div class="form-group row">
            <label for="studentAdmin" class="col-sm-5 col-form-label">Admin?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="studentAdmin" id="adminYes" value="true">
              <label class="form-check-label" for="adminYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="studentAdmin" id="adminNo" value="false">
              <label class="form-check-label" for="adminNo">No</label>
            </div>
          </div>
          <div class="text-center">
            <button type="button" id="addUser" name="addUser" class="btn btn-primary mt-0 mb-2">Add User</button>
          </div>
        </form>
        <p id="msg" class="text-danger mb-0 mt-2 text-center"></p>
      </div>
    </div>
  </div>
</div>
